:root {
	--primary-light: #fefefe;
	--secondary-light: #e5e7eb;
	/* --primary-dark: #1f2937; */
}
html,
body {
	background-color: #81d8d0 !important;
}
.container {
	min-height: 100vh;
	padding: 0 !important;
}
.header__title {
	color: var(--primary-light);
	font-style: italic;
	font-weight: bolder;
	text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.messageContainer{
	width: 40%;
	background-color: var(--primary-light);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.gameContainer {
	height: 620px;
	width: 620px;
	background-color: var(--primary-light);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.game__box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	font-size: 300%;
}
.game__box:hover {
	border-radius: 0.5rem;
	background-color: var(--secondary-light);
}
.game__box > p {
	margin-bottom: 0.5rem;
}
.colored__column {
	width: 10px;
	background-color: black !important;
}
.colored__row {
	height: 10px;
	background-color: black !important;
}
.reset__button{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.footerContainer {
	width: 100%;
	bottom: 0;
	position: absolute;
	color: var(--primary-light);
	text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.footer__link {
	color: var(--primary-light);
}
@media screen and (max-width: 600px) {
	.gameContainer {
		height: 310px;
		width: 310px;
	}
	.game__box {
		height: 100px;
		width: 100px;
	}
	.colored__column {
		width: 5px;
		background-color: black !important;
	}
	.colored__row {
		height: 5px;
		background-color: black !important;
	}
}
@media screen and (min-width: 600px) and (max-width: 900px) {
	.gameContainer {
		height: 530px;
		width: 530px;
	}
	.game__box {
		height: 170px;
		width: 170px;
		font-size: 300%;
	}
	.colored__column {
		width: 10px;
		background-color: black !important;
	}
	.colored__row {
		height: 10px;
		background-color: black !important;
	}
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
	.gameContainer {
		height: 620px;
		width: 620px;
	}
	.game__box {
		height: 200px;
		width: 200px;
		font-size: 300%;
	}
	.colored__column {
		width: 10px;
		background-color: black !important;
	}
	.colored__row {
		height: 10px;
		background-color: black !important;
	}
}
